asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
crispy-bootstrap5==2024.2
cycler==0.12.1
dj-database-url==2.1.0
Django==4.2.9
django-axes==6.4.0
django-crispy-forms==2.1
django-heroku==0.3.1
djangorestframework==3.15.1
exchange_calendars==4.5.4
fonttools==4.51.0
idna==3.7
importlib_resources==6.4.0
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
matplotlib==3.9.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pandas_market_calendars==4.4.0
pillow==10.3.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyluach==2.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.1
six==1.16.0
sqlparse==0.4.4
toolz==0.12.1
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.6.0
zipp==3.18.2
