<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'globals.css' %}" />
    <link rel="stylesheet" href="{% static 'styleguide.css' %}" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
      <title>Home</title>
  </head>
  <body>
    <div class="home">
      <div class="div">
        <div class="text-wrapper">Home</div>
        <div class="text-wrapper-2">How it works</div>
        <div class="text-wrapper-3">Blog</div>
        <div class="text-wrapper-4">FAQ</div>
        <div class="text-wrapper-5">Log in</div>
        <div class="frame"><div class="text">Get started</div></div>
        <div class="overlap">
          <img class="illustration" src="{% static 'Illustration.png' %}"  alt="design"/>
          <div class="group">
            <div class="group-2">
              <p class="p">A smarter way to invest and save for the future</p>
              <p class="text-wrapper-6">
                Make your money work for you by investing in personalized long term portfolios.
              </p>
            </div>
            <div class="div-wrapper"><div class="text-2">Get started</div></div>
          </div>
          <div class="text-wrapper-7">Tell us about yourself</div>
          <div class="text-wrapper-8">Open your account</div>
          <div class="text-wrapper-9">Sit back and relax</div>
          <div class="group-3">
            <div class="group-wrapper">
              <div class="group-4">
                <div class="text-wrapper-10">Tell us about yourself</div>
                <p class="text-wrapper-11">
                  Answer a few questions about yourself and determine the comfortable amount of risk, so you can enjoy a
                  personalized portfolio.
                </p>
              </div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group"><div class="text-wrapper-12">1</div></div>
            </div>
          </div>
          <div class="text-wrapper-13">How it works</div>
          <p class="text-wrapper-14">
            Roboadvisor takes away the hassle of managing your investments. Focus on what really matters and let your
            money work for you.
          </p>
        </div>
        <div class="text-wrapper-15">Why choose a roboadvisor</div>
        <div class="group-5">
          <p class="text-wrapper-16">
            Roboadvisory gives you access to a whole new world of investment with a simplified 5-minute experience.
          </p>
        </div>
        <div class="group-6">
          <p class="text-wrapper-16">
            WIth globally low interest rates, investing your money in long term portfolios has never been this
            attractive.
          </p>
        </div>
        <div class="group-7">
          <p class="text-wrapper-16">
            Roboadvisory fees are a lot lower than regular investment advisory fees as the whole process is automated.
          </p>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-2">
            <img class="img" src="{% static 'Group 59.png' %}"  alt="test"/>
            <img class="group-8" src="{% static 'Group 60.png' %}"  alt="test"/>
            <div class="group-9">
              <div class="group-10">
                <p class="text-wrapper-17">Bringing power to the people</p>
                <p class="text-wrapper-18">
                  Investing should be available to everyone. Our roboadvisor’s mission is to make it happen regardless of
                  your background or income level.
                </p>
              </div>
              <div class="frame-2"><div class="text-3">Get started</div></div>
            </div>
          </div>
        </div>
        <img class="investing-bro" src="{% static 'Investing-bro 1.png' %}"  alt="test"/>
        <img class="savings-bro" src="{% static 'Savings-bro 1.png' %}" alt="test" />
        <img class="search-engines-bro" src="{% static 'Search engines-bro 1.png' %}"  alt="test"/>
        <div class="component">
          <img class="nav-logo" src="{% static 'nav_logo 1.png' %}" alt="test" />
          <div class="group-11">
            <div class="text-wrapper-19">Quick links</div>
            <div class="text-wrapper-20">Terms &amp; policies</div>
            <div class="text-wrapper-21">How it work</div>
            <div class="text-wrapper-22">Blog</div>
          </div>
          <div class="group-12">
            <div class="text-wrapper-19">Help center</div>
            <div class="text-wrapper-20">Contact support</div>
            <div class="text-wrapper-21">FAQ</div>
          </div>
          <div class="group-13">
            <div class="group-14">
              <div class="overlap-group-2">
                <div class="rectangle"></div>
                <div class="group-15"><div class="text-wrapper-23">Email</div></div>
                <div class="frame-3"><div class="text-4">Subscribe</div></div>
              </div>
            </div>
            <div class="group-16"><div class="text-wrapper-19">Subscribe to our newsletter</div></div>
          </div>
          <div class="group-17">
            <div class="group-18"><div class="text-wrapper-19">Follow us</div></div>
            <img class="source-icons" src="{% static 'source_icons_facebook 1.svg' %}"  alt="test"/>
            <img class="source-icons-2" src="{% static 'source_icons_instagram 1.svg' %}"  alt="test"/>
            <img class="source-icons-twitter" src="{% static 'source_icons_twitter 1.svg' %}"  alt="test"/>
            <img class="source-icons-3" src="{% static 'source_icons_linkedin 1.svg' %}"  alt="test"/>
          </div>
        </div>
        <img class="nav-logo-2" src="{% static 'nav_logo 1.png' %}"  alt="test"/>
      </div>
    </div>
  </body>
</html>
