body, html {
    text-align: center;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 14px;
    margin: 5px 0 0;
    font-weight: 500;
    position: relative;
    -webkit-font-smoothing: antialiased; /* for Chrome and Safari */
    -moz-osx-font-smoothing: grayscale; /* for Firefox */
    text-rendering: optimizeLegibility;

}

.hamburger {
    display: none; /* Hide by default */
    font-size: 24px;
    background: none;
    border: none;
    color: #1b1b1b;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1b1b1b;
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #1b1b1b;
    padding: 8px 16px;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.2s;
    position: relative;
    justify-content: center;

}

.nav-item:hover {
    background-color: #0056b3;
}

.nav-item-button {
    background-color: #003c71;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.nav-item-button:hover {
    background-color: #0056b3;
}



.illustration,
.illustration * {
    box-sizing: border-box;
}

.illustration {
    height: auto;
    position: absolute; /* Make sure it doesn't affect the flow of other elements */
    top: 0; /* Align to the top of the container */
    left: 0; /* Align to the left of the container */
    z-index: -1; /* Ensure it stays behind other content */
    overflow: visible;
}

header, .content, footer {
    position: relative; /* Ensure these elements are positioned above the illustration */
    z-index: 2;
}
.invest-intro-container {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    padding-left: 10%; /* Add some padding to the left */
    background-color: transparent; /* Assuming a transparent background */
}

.invest-intro {
    max-width: 600px; /* Control the width of the content */
    text-align: left; /* Align text to the left */
    padding: 100px 0; /* Add padding to the top and bottom */
}


.invest-intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #1b1b1b;
    margin-bottom: 20px;
}

.invest-intro p {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: #1b1b1b;
    margin-bottom: 20px; /* Spacing between paragraph and button */
}

.btn-get-started {
    background-color: #003c71; /* Button background color */
    color: white; /* Button text color */
    text-decoration: none; /* Remove underline from the link */
    padding: 10px 20px; /* Button padding */
    border-radius: 10px; /* Rounded corners for the button */
    display: inline-block; /* Allows for padding and margin settings */
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

/* Add media query for responsiveness if needed */
@media (max-width: 768px) {
  .invest-intro h1 {
    font-size: 1.5em;
  }
  .invest-intro p {
    font-size: 0.9em;
  }
}

.how-it-works {
  background-color: transparent; /* Slightly off-white background similar to the screenshot */
  padding: 50px 0; /* Spacing around the section */
}

.how-it-works .container {
    max-width: 1200px; /* Maximum width of the content */
    margin: 0 auto; /* Center the container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the content */
}

.how-it-works h2 {
  font-family: 'Poppins', sans-serif;
  color: #2c3030; /* Dark text color */
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px; /* Spacing below the title */
}

.how-it-works-description {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: #6c757d; /* Adjust the color as per your design */
    text-align: center; /* Center-align the text */
    max-width: 800px; /* Adjust the width as necessary */
    margin: 0 auto 30px; /* Center the paragraph and add space below it */
    line-height: 1.5;
}


.steps {
    display: flex;
    justify-content: center;
    gap: 50px; /* Space between each step */
    flex-wrap: wrap; /* Wrap onto the next line for smaller screens */
    margin-top: 30px; /* Spacing after the title */
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align text to the left */
    max-width: 200px; /* Maximum width of each step */
    background-color: #ffffff; /* Card background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow for depth */
    border-radius: 15px; /* Rounded corners for the card */
    padding: 20px; /* Padding inside the card */
    margin: 20px 0; /* Margin around the card */
}

.step-number {
  font-size: 24px; /* Large font size for the step number */
  color: #003c71; /* Color for the step number */
  background-color: #ffffff; /* White background for the circle */
  border-radius: 50%; /* Make it circular */
  width: 40px; /* Width of the circle */
  height: 40px; /* Height of the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px; /* Center the circle and add spacing below */
}

.step-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #2c3030;
  width: 100%;
  margin-bottom: 0; /* Spacing between the title and the description */
}

.step p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #6c757d; /* Grey text color for the description */
  line-height: 1.5;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .steps .step {
    flex-basis: 100%; /* Each step takes full width on smaller screens */
    margin-bottom: 40px; /* Spacing between each step */
  }
  .invest-intro-container {
        padding-left: 5%; /* Less padding on smaller screens */
    }
 .how-it-works .container {
    padding: 0 30px; / Add padding on smaller screens */
    }
 .steps {
    flex-direction: column;
    align-items: center;
 }

 .step {
    max-width: none; /* Allow the step to take the container's width */
    align-items: center; /* Center-align items in a column layout */
    }
}

@media (max-width: 768px) {
  .how-it-works h2 {
    font-size: 24px; /* Smaller font size for the title on smaller screens */
  }

  .step-number {
    width: 35px; /* Smaller circle for the step number */
    height: 35px; /* Smaller circle for the step number */
    font-size: 20px; /* Smaller font size for the number */
    margin-bottom: 10px;
  }

  .step-title {
    font-size: 17px; /* Smaller font size for the title */
    text-align: center;
  }

  .step p {
    font-size: 14px; /* Smaller font size for the description */
    text-align: center;
  }
  .invest-intro-container {
        padding-left: 3%; /* Even less padding on very small screens */
        padding-right: 3%; /* Add padding to the right as well */
    }
  .invest-intro {
        padding: 50px 0; /* Less vertical padding on smaller screens */
    }
  .invest-intro h1 {
        font-size: 28px; /* Slightly smaller font size */
    }
  .invest-intro p {
        font-size: 16px; /* Slightly smaller font size */
    }
  .btn-get-started {
        font-size: 15px; /* Slightly smaller font size */
    }
  .navbar {
        flex-direction: column; /* Stack items vertically */
        padding: 10px; /* Less padding on smaller screens */
    }

  .navbar-brand {
        margin-bottom: 10px; /* Space between logo and nav items */
    }

  .hamburger {
        display: block; /* Show hamburger */
    }
  .navbar-nav {
        display: none; /* Hide navbar items */
        flex-direction: column;
        align-items: flex-start;
        background-color: #ffffff;
        position: absolute;
        top: 100%; /* Position below the navbar */
        left: 0;
        width: 100%;
        border-top: 1px solid #eaeaea;
    }

  .nav-item {
        padding: 15px;
        margin: 0;
        text-align: left;
    }

  .nav-item-button {
        width: 100%; /* Full width buttons */
    }
  .navbar-nav.active {
        display: flex; /* Show navbar items when 'active' */
    }
}



.investing-bro-1,
.investing-bro-1 * {
    box-sizing: border-box;
}

.investing-bro-1 {
    height: 453px;
    position: relative;
    overflow: hidden;
    padding-right: 50%;
}

.freepik-background-simple-inject-31 {
    width: 88.69%;
    height: 77.49%;
    position: absolute;
    right: 5.74%;
    left: 5.57%;
    bottom: 10.05%;
    top: 12.46%;
    overflow: visible;
}

.freepik-bubble-inject-31 {
    width: 18.7%;
    height: 16.26%;
    position: absolute;
    right: 41.22%;
    left: 40.08%;
    bottom: 65.63%;
    top: 18.11%;
    overflow: visible;
}

.freepik-character-inject-31 {
    width: 56.55%;
    height: 67.44%;
    position: absolute;
    right: 15.45%;
    left: 28%;
    bottom: 10.02%;
    top: 22.54%;
    overflow: visible;
}

.freepik-table-inject-31 {
    width: 85.6%;
    height: 0%;
    position: absolute;
    right: 7.2%;
    left: 7.2%;
    bottom: 10.02%;
    top: 89.98%;
    overflow: visible;
}

.freepik-plant-inject-31 {
    width: 67.79%;
    height: 38.22%;
    position: absolute;
    right: 16.11%;
    left: 16.1%;
    bottom: 10.02%;
    top: 51.75%;
    overflow: visible;
}

.savings-bro-1,
.savings-bro-1 * {
    box-sizing: border-box;
}

.savings-bro-1 {
    height: 452px;
    position: relative;
    overflow: hidden;
}

.freepik-background-simple-inject-2 {
    width: 89.09%;
    height: 84.61%;
    position: absolute;
    right: 5.8%;
    left: 5.12%;
    bottom: 8.61%;
    top: 6.78%;
    overflow: visible;
}

.freepik-plants-inject-2 {
    width: 18.66%;
    height: 49.61%;
    position: absolute;
    right: 10.54%;
    left: 70.81%;
    bottom: 7.56%;
    top: 42.83%;
    overflow: visible;
}

.freepik-piggy-bank-inject-2 {
    width: 45.79%;
    height: 42.54%;
    position: absolute;
    right: 35.67%;
    left: 18.55%;
    bottom: 7.55%;
    top: 49.91%;
    overflow: visible;
}

.freepik-hand-inject-2 {
    width: 40.6%;
    height: 44.03%;
    position: absolute;
    right: 24.2%;
    left: 35.2%;
    bottom: 50.76%;
    top: 5.22%;
    overflow: visible;
}

.freepik-floor-inject-2 {
    width: 86.2%;
    height: 0%;
    position: absolute;
    right: 6.6%;
    left: 7.2%;
    bottom: 7.56%;
    top: 92.44%;
    overflow: visible;
}

.search-engines-bro-1,
.search-engines-bro-1 * {
    box-sizing: border-box;
}

.search-engines-bro-1 {
    height: 500px;
    position: relative;
    overflow: hidden;
}

.freepik-background-simple-inject-63 {
    width: 71.94%;
    height: 56.89%;
    position: absolute;
    right: 13.23%;
    left: 14.83%;
    bottom: 21.72%;
    top: 21.4%;
    overflow: visible;
}

.freepik-shadow-inject-63 {
    width: 78%;
    height: 3.2%;
    position: absolute;
    right: 9.81%;
    left: 12.19%;
    bottom: 17.12%;
    top: 79.68%;
    overflow: visible;
}

.freepik-plants-inject-63 {
    width: 77.02%;
    height: 47.3%;
    position: absolute;
    right: 13.92%;
    left: 9.07%;
    bottom: 18.8%;
    top: 33.9%;
    overflow: visible;
}

.freepik-device-inject-63 {
    width: 48.1%;
    height: 43.9%;
    position: absolute;
    right: 26.75%;
    left: 25.15%;
    bottom: 18.81%;
    top: 37.29%;
    overflow: visible;
}

.freepik-search-engines-inject-63 {
    width: 77.97%;
    height: 59.91%;
    position: absolute;
    right: 9.49%;
    left: 12.54%;
    bottom: 23.85%;
    top: 16.23%;
    overflow: visible;
}

.why-choose-container h2{
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 32px;
}

.why-choose-container .content-wrapper {
    display: flex;
    align-items: center;
}

.illustration-wrapper {
    flex: 0 0 50%; /* Adjust the width as needed */
}

.text-content {
    flex: 1;
    padding-left: 20px; /* Adjust the spacing as needed */
    max-width: 40rem;
}

.text-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    text-align: justify;
}

.fees-container .fees-content-wrapper{
    display: flex;
    align-items: center;
}

.fees-illustration-wrapper{
    flex:0 0 50%;
    order:2;
    padding-left:220px;
}

.fees-text-content{
    flex:1;
    order:1;
    padding-left:220px;
    max-width: 40rem;
}

.fees-text-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    text-align: justify;
}

.rates-content-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.rates-illustration-wrapper{
    flex:0 0 50%;
    padding-left: 20px;
    padding-bottom: 0;
}

.rates-text-content{
    flex:1;
    justify-content: flex-start;
    padding-left: 100px; /* Adjust the spacing as needed */
    padding-bottom: 100px;
}

.rates-text-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    text-align: justify;
    max-width: 40rem;
}
