body, html {
    text-align: center;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 14px;
    margin: 5px 0 0;
    font-weight: 500;
    position: relative;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1b1b1b;
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #1b1b1b;
    padding: 8px 16px;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.2s;
    position: relative;
    justify-content: center;

}

.nav-item:hover {
    background-color: #0056b3;
}

.nav-item-button {
    background-color: #003c71;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.nav-item-button:hover {
    background-color: #0056b3;
}



.illustration,
.illustration * {
    box-sizing: border-box;
}

.illustration {
    height: auto;
    position: absolute; /* Make sure it doesn't affect the flow of other elements */
    top: 0; /* Align to the top of the container */
    left: 0; /* Align to the left of the container */
    z-index: -1; /* Ensure it stays behind other content */
    overflow: visible;
}

header, .content, footer {
    position: relative; /* Ensure these elements are positioned above the illustration */
    z-index: 2;
}
